* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #000000;
}

.date {
	width: 80%;
	text-align: center;
	padding: 10px 20px;
	border: 5px solid #999999;
	background-color: #FFFFFF;
	font-size: 19px;
}

.date1 {
	margin-bottom: 10px;
}

.date1 > i {
	color: red;
}